body {
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}

div {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 10;
}

#iwanttosleep h3 {
    text-align: center;
    color: white;
    font-family: arial;
    text-shadow: -1px 1px 13px #0a113a;
}